<!-- <div>
    <h1>ID - {{todosDetails.id}}</h1>
    <h1>{{todosDetails.name}}</h1>
    <h1>{{todosDetails.deadline}}</h1>
    <h1>Priority - {{todosDetails.priority}}</h1>
</div> -->

<div>
    <input [formControl]="name">
    <span class="error" *ngIf="name.hasError('required')">please complete</span>
</div>
<div>
    <input [formControl]="deadline">
    <span class="error" *ngIf="deadline.hasError('required')">please complete</span>
</div>
<div>
    <input [formControl]="priority">
    <span class="error" *ngIf="priority.hasError('required')">giv a number 1-5</span>
    <span class="error" *ngIf="priority.hasError('min')">
        {{priority.getError('min').actual}} it's small
    </span>
    <span class="error" *ngIf="priority.hasError('max')">
        {{priority.getError('max').actual}} it's big
    </span>
</div>
<button [disabled]="name.invalid || deadline.invalid || priority.invalid" (click)="save()">Save</button>
<button routerLink="/todos">Cancel</button>
