<form [formGroup]="newContact">
    <div>
        <input placeholder="First Name" formControlName="firstName">
        <span *ngIf="firstName.invalid && firstName.touched">please complete the line</span>
    </div>
    <div>
        <input placeholder="Last Name" formControlName="lastName">
        <span *ngIf="lastName.invalid && lastName.touched">please complete the line</span>
    </div>
    <div>
        <input placeholder="Number" formControlName="number">
        <span *ngIf="number.invalid && number.touched">please complete the line</span>
    </div>
    <button [disabled]="firstName.invalid || lastName.invalid || number.invalid" (click)="save()">Saved</button>
</form>








<!-- <div>
    <input placeholder="First Name" [(ngModel)]="newContact.firstName">
</div>
<div>
    <input placeholder="Last Name" [(ngModel)]="newContact.lastName">
</div>
<div>
    <input placeholder="Number" [(ngModel)]="newContact.number">
</div>
<button (click)="save()">Save</button> -->