<div *ngIf="contactDetails">
<form *ngIf="contactDetails" [formGroup]="contactDetails">
    <div>
        <input formControlName="firstName">
        <span class="error" *ngIf="firstName.invalid && firstName.touched">
            please complete the line</span>
    </div>
    <div>
        <input formControlName="lastName">
        <span class="error" *ngIf="lastName.invalid && lastName.touched">
            please complete the line</span>
    </div>
    <div>
        <input formControlName="number">
        <span class="error" *ngIf="number.invalid && number.touched">please complete the line</span>
    </div>
    <button routerLink="/contacts">Cancel</button>
    <button [disabled]="firstName.invalid || lastName.invalid || number.invalid" (click)="save()">Save</button>
</form>
</div>










<!-- 
<div>
    <input [(ngModel)]="contactDetails.firstName">
</div>
<div>
    <input [(ngModel)]="contactDetails.lastName">
</div>
<div>
    <input [(ngModel)]="contactDetails.number">
</div>
<button (click)="save()">Save</button>
<button routerLink="/contacts">Cancel</button> -->