<form [formGroup]="todoList">
    <div>
        <input formControlName="name">
        <span class="error" [hidden]="todoList.get('name').valid || todoList.get('name').pristine">
            please complete the line</span>
    </div>
    <div>
        <input formControlName="deadline">
        <span class="error" [hidden]="todoList.get('deadline').valid || todoList.get('deadline').pristine">
            please complete the line</span>
    </div>
    <div>
        <input formControlName="priority">
        <button (click)="setValue(1)">1</button>
        <button (click)="setValue(2)">2</button>
        <button (click)="setValue(3)">3</button>
        <button (click)="setValue(4)">4</button>
        <button (click)="setValue(5)">5</button>
        <div class="error" *ngIf="todoList.get('priority').invalid && todoList.get('priority').dirty">
            <span *ngIf="todoList.get('priority').hasError('required')">giv a number 1-5</span>
            <span *ngIf="todoList.get('priority').getError('min')">
                {{todoList.get('priority').getError('min').actual}} it's small</span>
            <span *ngIf="todoList.get('priority').errors['max']">
                {{todoList.get('priority').errors['max'].actual}} it's big</span>
        </div>
    </div>
    <button (click)="f()">marktoched</button>
    <button (click)="f1()">pristine</button>
    <button [disabled]="todoList.get('name').invalid || todoList.get('deadline').invalid || todoList.get('priority').invalid" 
    (click)="save()">Save</button>
</form>







