<form [formGroup]="todoList">
    <div>
        <input formControlName="name">
        <span class="error" *ngIf="name.invalid && name.touched">
            please complete the line</span>
    </div>
    <div>
        <input formControlName="deadline">
        <span class="error" *ngIf="deadline.invalid && deadline.touched">
            please complete the line</span>
    </div>
    <div>
        <input formControlName="priority">
        <button (click)="setValue(1)">1</button>
        <button (click)="setValue(2)">2</button>
        <button (click)="setValue(3)">3</button>
        <button (click)="setValue(4)">4</button>
        <button (click)="setValue(5)">5</button>
        <div class="error" *ngIf="priority.invalid && priority.touched">
            <span *ngIf="priority.hasError('required')">giv a number 1-5</span>
            <span *ngIf="priority.hasError('min')">
                {{priority.getError('min').actual}} it's small</span>
            <span *ngIf="priority.hasError('max')">
                {{priority.getError('max').actual}} it's big</span>
        </div>
    </div>
    <button (click)="todoUnTouch()">clear</button>
    <button [disabled]="name.invalid || deadline.invalid || priority.invalid" (click)="save()">Saved</button>
</form>